<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.css">
    <title>Site - FIT</title>
</head>
<body>

    <div class="container">

        <div class="top-content">

            <h1 class="titulo">
                BEM VINDOS AO FIT
            </h1>

        </div>

        <p class="descricao">
            Nós iremos lhes ajudar com o ganho de peso e perca de peso com uma alimentação saudável e eficaz, 
            de acordo com suas necessidades e acessibilidade.
        </p>

        <div class="login-area">
            <a href="login.html" class="btn-login">LOGIN</a>
            <span class="texto-login">clique para efetuar o login</span>
        </div>

    </div>

</body>
</html>